body {
    background-color: #00327c;
}

.login {
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.login h1 {
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    background-color: #232323;
    width: 140vh;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-shadow: 30px 30px 0px #082858;
}

.wrapper img {
    width: 70vh;
    border-radius: 11px 0px 0px 11px;
}

.wrapper2 {
    display: flex;
    flex-direction: column;
    width: 50vh;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: auto;
}

.wrapper2 input {
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 7px 20px;
}

.wrapper3 {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 40px;
}

.checkbox {
    font-size: 0.7em;
}

.wrapper2 button {
    color: #ffffff;
    background-color: #00327c;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
}

.wrapper2 button:hover {
    background-color: #fed53a;
    color: #00327c;
}

.login
input,
button {
    font-size: 1em;
}

.wrapper2 p {
    margin-top: 20px;
    font-size: 0.8em;
}

.forgot-password, input[type=checkbox] {
    font-size: 0.7em;
}

.login a {
    color: #00327c;
}

.login a:hover {
    color: #fed53a;
}

.column .card {
    display: flex;
    width: 200px;
}