:root {
  --color-blue: #00327c;
  --color-light-blue: #eaeff3;
  --color-white: #ffffff;
  --color-black: #232323;
  --color-gray: #728196;
  --color-yellow: #fed53a;
  --border-radius: 25px;
}

*,
*::before,
*::after {
  transition: all 0.3s linear !important;
  -webkit-transition: all 0.3s linear !important;
  -moz-transition: all 0.3s linear !important;
  -ms-transition: all 0.3s linear !important;
  -o-transition: all 0.3s linear !important;
}

input {
  border: none !important;
  outline: none !important;
}

/* bg edited */
.bg-primary {
  background: var(--color-blue) !important;
}

.bg-warning {
  background: var(--color-yellow) !important;
}

/* text edited */
.text-primary {
  color: var(--color-blue) !important;
}

.text-warning {
  color: var(--color-yellow) !important;
}

/* Navbar edited */
.navbar {
  z-index: 9999;
}

.navbar.active {
  background: var(--color-white);
  position: fixed !important;
  padding: 1rem 0 !important;
}

.icon-navbar {
  width: 15px;
  height: auto;
  stroke: var(--color-yellow);
  stroke-width: 3px;
}

.navbar.active .icon-navbar {
  stroke: var(--color-blue);
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.nav-link {
  position: relative !important;
  padding: 0 !important;
  color: var(--color-gray);
}

.nav-link:hover,
.nav-link.active {
  color: var(--color-yellow) !important;
}

.nav-link::before {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--color-yellow);
  bottom: 0;
  left: 0;
  display: block;
  position: absolute;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
}

.nav-link:hover::before {
  background: var(--color-yellow) !important;
}

.navbar.active .nav-link.active {
  color: var(--color-blue) !important;
}

.navbar.active .nav-link:hover {
  color: var(--color-yellow) !important;
}

.navbar.active .nav-link::before {
  background: var(--color-blue);
}

.navbar .btn-primary {
  background: var(--color-yellow) !important;
  color: var(--color-blue) !important;
}

@media (max-width: 992px) {
  .navbar-collapse {
    display: none !important;
  }
}

/* sidebar/offcavas edited */
@media (min-width: 992px) {
  .offcanvas {
    display: none !important;
  }
}

/* button edited */
.btn {
  outline: none !important;
  border: none !important;
  border-radius: var(--border-radius) !important;
  -webkit-border-radius: var(--border-radius) !important;
  -moz-border-radius: var(--border-radius) !important;
  -ms-border-radius: var(--border-radius) !important;
  -o-border-radius: var(--border-radius) !important;
}
.btn-primary,
.navbar.active .btn-primary {
  background: var(--color-blue) !important;
  color: var(--color-white) !important;
}

.btn-primary:hover {
  background: var(--color-light-blue) !important;
  color: var(--color-blue) !important;
  box-shadow: 0 0 10px var(--color-light-blue);
}

.navbar.active .btn-primary:hover {
  background: var(--color-yellow) !important;
  color: var(--color-blue) !important;
  box-shadow: 0 0 10px var(--color-yellow);
}

/* body text */
.body-text {
  color: var(--color-gray) !important;
  font-family: "Nunito", sans-serif !important;
  font-weight: 600 !important;
}

/* hero section */
.left-hero {
  flex: 0 0 40%;
  height: auto;
}

.right-hero {
  flex: 0 0 60%;
  height: 100%;
  overflow: hidden;
}

.hero-image {
  width: 120%;
  height: auto;
  object-fit: cover;
}

.input:focus {
  box-shadow: 0 0 8px var(--color-light-blue);
}

.icon-search:hover {
  box-shadow: 0 0 10px var(--color-yellow);
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
